    <footer class = "footer__index">
        <div class = "footer__index__whatsapp">
            <img
                class = "footer__index__whatsapp__image"
                src="{{ url_for('static', filename='img/imagewhatsapp.png') }}"
                alt = 'Imagem whatsapp'>
            <a class = "footer__index__whatsapp__text" href="https://wa.me/5514988268594" target="_blank">
                WhatsApp: (+55) 14 98826-8594
            </a>
        </div>
        <div class = "footer__index__linkedin">
            <img
                class = "footer__index__linkedin__image"
                src="{{ url_for('static', filename='img/imagelinkedin.png') }}"
                alt = 'Imagem linkedin'>
            <a class = "footer__index__linkedin__text" href="https://www.linkedin.com/in/jo%C3%A3o-santos-26b894225/" target="_blank">
                Linkedin: linkedin.com/in/joão-santos
            </a>
        </div>
        <div class = "footer__index__github">
            <img
                class = "footer__index__github__image"
                src="{{ url_for('static', filename='img/imagegithub.png') }}"
                alt = 'Imagem github'>
            <a class = "footer__index__github__text" href="https://github.com/Jopsps" target="_blank">
                GitHub: Jopsps
            </a>
        </div>
        <div class = "footer__index__email">
            <img
                class = "footer__index__email__image"
                src="{{ url_for('static', filename='img/imageemail.png') }}"
                alt = 'Imagem email'>
            <a class = "footer__index__email__text" href="#" id="emailLink">
                E-mail: jonnywwwpedro@gmail.com
            </a>
        </div>
        <div class = "footer__index__portifolio">
            <img
                class = "footer__index__portifolio__image"
                src="{{ url_for('static', filename='img/imageportifolio.png') }}"
                alt = 'Imagem portifolio'>
            <a class = "footer__index__portifolio__text">
                Portifolio: joaopedrodossantos.com.br
            </a>
        </div>
    </footer>