    <header class="header__index">
        <a href="{{ url_for('index') }}" class="mid__curriculo__index-link">
            <div class = "header__index__image">
                <img
                            class="header__curriculo__image"
                            src="{{ url_for('static', filename='img/fotoperfil.png') }}"
                            alt="Imagem currículo">
            </div>
        </a>
        <div class="header__index-left">
            <a class = "header__index__text" href="https://wa.me/5514988268594" target="_blank">WhatsApp</a>
            <a class = "header__index__text" href="https://www.linkedin.com/in/jo%C3%A3o-santos-26b894225/" target="_blank">LinkedIn</a>
            <a class = "header__index__text" href="#" id="emailLink">E-mail</a>
            <a class = "header__index__text" href="https://github.com/Jopsps" target="_blank">GitHub</a>
        </div>
        <div class="dark-mode-toggle">
            <div class="toggle-ball"></div>
        </div>
    </header>